---
import TechGrid from "../components/TechGrid.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

type ImageGlob = {
  default: ImageMetadata;
};

const images = (
  await Astro.glob<ImageGlob>("../assets/**/*.{png,jpg,jpeg,gif,svg}")
).map((image) => image.default);
---

<BaseLayout>
  <main class="container mx-auto mt-4">
    <a href="/" class="text-xl font-bold underline decoration-dashed underline-offset-4 text-blue-500" >Back</a>
    <h1 class="text-center text-4xl font-bold py-4">Everyone rocks</h1>
    <TechGrid images={images} />
  </main>
</BaseLayout>
